@charset "utf-8";
body {
	color: rgba(255,0,0,1.00);
	font-family: Verdana, Arial, sans-serif;
	background-color: #CCCCCC;
	line-heigt: 120%;
}
h1 {
	color: #FFFF00;
	font-size: 1em;
}
h2 {
	color: #FF0000;
}
h3 {
	color: #FF0000;
line-heigt: 120%;
}

h4 {
	color: #000000;
line-heigt: 120%;
}